<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="{{ SITE_URL }}style.css">
        <link href="{{ SITE_URL }}feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Articles de {{ SITE_TITLE }}" />
        <meta name="description" content="Flus est un portail de veille de l’actualité basé sur FreshRSS, un logiciel libre communautaire." />
        <title>{{ SITE_TITLE }}</title>
    </head>

    <body class="page page-index">
        <header>
            {% if SITE_APP_STATUS == 'up' %}
                <h1 class="app-status app-status-up">
                    ✔ <a href="https://flus.io">flus.io</a> est opérationnel
                </h1>
            {% else %}
                <h1 class="app-status app-status-down">
                    ❌ <a href="https://flus.io">flus.io</a> subit une panne
                </h1>
            {% endif %}

            <p class="app-status-info container container-text">
                Le statut du service n’est pas détecté automatiquement,
                cette page est donc mise à jour manuellement. Si vous
                observez une panne qui n’est pas indiquée ici, merci de
                <a href="mailto:support@flus.io">nous le faire savoir</a>.
            </p>

            <p>
                <a class="call-to-action" href="abonnement.html">suivre le statut du service</a>
            </p>
        </header>

        <main class="container container-text">
            <h2>Maintenance planifiée</h2>

            {% set maintenance_serie = [s for s in SERIES if s.title() == "Maintenance planifiée"][0] %}
            {% set maintenance_articles = maintenance_serie.meta["ARTICLES"] %}
            {% set next_maintenances = [a for a in maintenance_articles if a.meta["ARTICLE_STATUS"] == "ongoing"] %}

            {% if len(maintenance_articles) > len(next_maintenances) %}
                <p>
                    <a href="{{ maintenance_serie.url() }}">Historique des maintenances</a>
                </p>
            {% endif %}

            {% if next_maintenances %}
                {% for article in next_maintenances %}
                    <article class="article-maintenance">
                        <header>
                            <h1>{{ article.title() }}</h1>
                            –
                            <small>
                                <a href="{{ article.url() }}">permalien</a>
                            </small>
                        </header>

                        {{ article.content() }}
                    </article>
                {% endfor %}
            {% else %}
                <p class="placeholder">
                    Aucune maintenance n’est prévue pour les prochains jours.
                </p>
            {% endif %}

            <h2>Incidents</h2>

            {% set incidents_serie = [s for s in SERIES if s.title() == "Incidents"][0] %}
            {% set incidents_articles = incidents_serie.meta["ARTICLES"] %}

            {% if incidents_articles %}
                {% for article in incidents_articles %}
                    <article class="article-incident">
                        <header>
                            <h1>{{ article.title() }}</h1>
                            –
                            <small>
                                annoncé {{ article.date().strftime("le %d %B %Y") }}&nbsp;/&nbsp;<a href="{{ article.url() }}">permalien</a>
                            </small>
                        </header>

                        {{ article.content() }}
                    </article>
                {% endfor %}
            {% else %}
                <p class="placeholder">
                    Aucun incident n’est survenu par le passé 😍
                </p>
            {% endif %}
        </main>

        <footer>
            <p>
                <a class="call-to-action" href="https://flus.io">Accéder au service</a><br />
                <br />
                <small>
                    <a href="https://flus.io/i/?a=about">Mentions légales</a>&nbsp;/&nbsp;généré avec <a href="https://flus.io/i/?a=about">Boop!</a>&nbsp;/&nbsp;<a href="https://github.com/flusio/status">sources</a>
                </small>
            </p>
        </footer>
    </body>
</html>
