<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="{{ SITE_URL }}style.css">
        <link href="{{ SITE_URL }}feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Articles de {{ SITE_TITLE }}" />
        {% if PAGE_DESCRIPTION %}
            <meta name="description" content="{{ PAGE_DESCRIPTION }}" />
        {% endif %}
        <title>{{ PAGE_TITLE }} – {{ SITE_TITLE }}</title>
    </head>

    <body class="page page-article">
        <header>
            <a href="{{ SITE_URL }}index.html">{{ SITE_TITLE }}</a>
        </header>

        <main class="container container-text">
            <article class="blog-page">
                <header>
                    <h1>{{ PAGE_TITLE }}</h1>
                </header>

                <div>
                    {{ PAGE_CONTENT }}
                </div>
            </article>
        </main>
    </body>
</html>
