<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="{{ SITE_URL }}style.css">
        <link href="{{ FEED.url() }}" type="application/atom+xml" rel="alternate" title="{{ FEED.title() }}" />
        <link href="{{ SITE_URL }}feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Articles de {{ SITE_TITLE }}" />
        <title>{{ PAGE_TITLE }} — {{ SITE_TITLE }}</title>
    </head>

    <body class="page page-article">
        <header>
            <a href="{{ SITE_URL }}index.html">{{ SITE_TITLE }}</a>
        </header>

        <main class="container container-text">
            <article class="blog-page">
                <header>
                    <h1>{{ PAGE_TITLE }}</h1>
                </header>

                {{ PAGE_CONTENT }}

                <p>
                    Historique des maintenances :
                </p>

                <ul>
                    {% for article in ARTICLES %}
                        <li>
                            <a href="{{ article.url() }}">{{ article.title() }}</a>
                            (annoncé {{ article.date().strftime("le %d %B %Y") }})
                        </li>
                    {% endfor %}
                </ul>
            </article>
        </main>
    </body>
</html>
